@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  overflow-wrap: break-word;
}

div {
  display: block;
}

/* Tạo màu cho scrollbar */
::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

/* Tạo kiểu cho thanh nằm trong scrollbar */
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #424242;
}

/* Tạo hover cho scrollbar */
::-webkit-scrollbar-thumb:hover {
  background-color: #1a1a25;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/SVN-Gilroy.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("/fonts/SVN-Gilroy-Xlight.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Thin";
  src: url("/fonts/SVN-Gilroy-Thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Thin";
  src: url("/fonts/HelveticaNeue-UltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Light";
  src: url("/fonts/Helvetica-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes slideDown {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.nav-drop-animate {
  transition: height 0.5s ease-in-out;
  animation: slideDown 3s forwards;
}

.line-animation::after {
  animation: slideDown 3s forwards;
}

@keyframes circle-animation {
  0% {
    stroke-dasharray: 0 100;
  }
  100% {
    stroke-dasharray: 100 0;
  }
}

iframe {
  width: 100%;
}

/* Thêm hiệu ứng cho circle */
.line-animation circle {
  animation: circle-animation 1.5s ease-in-out 1;
}

.slide {
  display: flex;
  animation: slide 10s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
